[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telethon = "*"
python-binance = "==1.0.14"
PyYAML = "*"
src = {path = "./src", editable = true}

[dev-packages]

[requires]
python_version = "3.7"
